// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap - do not npm compile, as the bootstrap files are saved local
//@import '~bootstrap/scss/bootstrap';